<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <title> Soup-maker 3004 </title>
  </head>
  
  <body>
    <h3>Make your soup!</h3>
    
    <form method=POST>  <!--#create a form that is recognized as a post -->
      <h4>Which broth would you like?</h4>
      <input type = "radio" name = "broth1" value = "veg"> Vegetable <br>
      <input type = "radio" name = "broth" value = "chi"> Chicken <br>
      <input type = "radio" name = "broth" value = "duck"> Duck <br>
      <br> 
      <h4>Which add-ins would you like?</h4>
      <input type="submit" value = "What's Your Order?">
    </form>
  </body>
</html>